@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  19% {
    transform: translateY(-4px);
  }
}

.dot {
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  /*animation-timing-function: ease;*/
  animation-iteration-count: infinite;
}

.dot-1 {
  animation-delay: 0s;
}
.dot-2 {
  animation-delay: 0.2s;
}
.dot-3 {
  animation-delay: 0.4s;
}
